@import '../../styles/global-variables.scss';

.button{
    cursor: pointer;
    border: none;
    width: 100%;
    font-weight: 600;
    
    &.primary{
        background: $secondary-color;
        color: $white-color;
    }

    &.inverted-primary{
        background:$white-color;
        color:$secondary-color;
        border: 1px solid $secondary-color;
    }

    &.default{
        border-radius: 8px;
        font-size: 18px;
        padding: 20px 0px;
    }

    &.curved{
        border-radius: 800px;
        font-size: 16px;
    }

}