//Colors - For Global Use

$primary-color: #9440FF;
$secondary-color: #FF7A00;
$white-color:#FFFFFF;

$main-heading-color:#000000;
$sub-heading-color:#3A3A3A;
$normal-content-color: #7B7B7B;
$place-holder-text-color:#929292;
$input-border-color: #CECECE;


//Font Styles for Global use

$font-family: Inter;
$font-style: normal;
$line-height: normal;
$letter-spacing: 0.5px;

